<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}    
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  </head>
  <body id="page-top">
    <div class="container">
    {% include nav.html %}
    <div id="content"  class="ui-content">
     
      <h1><a href="{{ '/standards_list/' | relative_url }}">CS48 Standards</a></h1>
      
      <h2>{{ page.title}}</h2>
      {% if page.desc %}
      <p class="topic-summary">{{ page.desc }}</p>
      {% endif %}

      {{ content }}

    </div><!-- content -->
    {% include footer/custom.html %}
    {% include footer.html %}
    </div><!-- container -->
  </body>
</html>
